* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/guerra.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-clip: border-box;
    background-origin: border-box;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.tela{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-login{
    padding: 15px;;
    background-color: rgba(200,200,200,0.8);
    border-radius: 10px;
}

#icone{
    margin-left: auto;
    margin-right: auto;
}

.input{
  display: block;  
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#titulo{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-size: 25px;
}

#info{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#lblIdentidade, #lblSenha{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.linha-botoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

.btn{
    display: inline-block;
    padding: 6px 12px;
    width: 95px;
    height: 38px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            
    border-radius: 6px;
}

#btnCad, #btnEnt {
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
    color: black;
    
}

#btnCad{
    background-image: url("../img/btn_cadastro.png");
    background-position: center;
    margin-left: 70px;
}

#btnEnt{
    background-image: url("../img/btn_login.png");
    background-position: center;
    margin-right: 0px;
}

.div-erro-login, .div-cad-sucesso{
    background-color: #264710;
    padding: 1px;
    border-radius: 4px;
}

.div-erro-login > center > p,
.div-cad-sucesso > center > p{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.div-login-duplicado{
    background-color: rgba(190,190,190,0.6);
    border-radius: 10px;
    margin-right: 15px;
    padding: 15px;
    font-family: sans-serif;
    text-align: justify;
}

.btEntrar{
    background-color: #264710;
}