/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2019, 12:36:03
    Author     : root
*/

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #4a820b;
    background-color: #4a820b;
}